
.about {
  display: flex;
  height: 70vh;
  width: 100vw;
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-top: 8%;
  justify-content: flex-start;
  align-items: center;
}

#profile-pic {
  width: 25vw;
}

.about .divider {
  left: 40vw;
  width: 3vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.close-button-container {
  padding: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10vw;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 47vw;
  align-items: center;
  padding: 5% 10%;
  text-align: justify;
}
.about-text a {
  margin-top: 5%;
}


/* 
.about-open .divider {
  background-color: yellow;
  opacity: .5;
}
.left-panel-about {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
  align-items: center;
}

.right-panel-about {
  display: flex;
  flex-direction: column;
}


.left-panel2 {
  width: 40vw;
  border: 1px solid red;
}

.divider2 {
  width: 3vw;
  border: 1px solid blue;
}

.right-panel2 {
  width: 57vw;
  border: 1px solid black;
}

#profile-pic {
  width: 25vw;
} */
